<!DOCTYPE html>
<html>

<head>
    <title>Image Upload and View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1 class="text-center my-5">Add a new case</h1>
        <form action="/upload"  enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">add new case link</button>
        </form>
        <hr>

        <h1 class="text-center my-5">Image Upload to existing</h1>
        <form action="/upload-existing" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Image upload page</button>
        </form>
        <hr>

        <h2 class="my-5">View Images of a Single Person</h2>
        <form action="/view-person" >
            <!-- <div class="form-group">
                <label for="name">Enter Person's Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div> -->
            <button type="submit" class="btn btn-primary">View Images of a single person page</button>
        </form>
        <hr>
        <h2 class="my-5">View a Single Image of All People</h2>
        <form action="/view-all" method="POST">
            <button type="submit" class="btn btn-primary">View Image</button>
        </form>
    </div>
</body>

</html>