<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NEW CASE</title>
    <link href=
    "{{'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i'}}"
    rel="stylesheet">
    <link
      href="{{url_for('static',filename='css/main.css')}}"
      rel="stylesheet"
      media="all"
    />
  </head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id">id</label>
            {{ id }}
            <br>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
            <br>
            <label for="image">Upload Image of a Person</label>
            <input type="file" class="form-control-file" id="image" name="image" required>
            <br>
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age">
            <br>
            <label for="phone">Contact Number(if any)</label>
            <input type="number" class="form-control" id="phone" name="phone">
            <br>
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            <button type="submit" >Upload</button>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- end document-->
