<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="view-person-form" method="post">
        <label for="name">Enter the id of the person:</label>
        <input type="text" id="id" name="id">
        <input type="submit" value="View">
    </form>
    {% if id %}
    <h2>Images of {{ id }}</h2>
    {% for image in images %}
    <img src="{{ image }}" alt="{{ id }}" width="200" height="300">
    {% endfor %}
    {% endif %}
</body>
</html>